.main {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .graph {
    background-color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bar {
    margin: 2px
  }
  
  #y-axis path {
    stroke: black;
    stroke-width: 1;
    fill: none;
  }
  
  #title {
    text-align: center;
    font-size: 40px;
  }
  
  .test {
    background-color: white;
  }
  
  #tooltip {
    position: absolute;
    background: gray;
    visibility: 'hidden';
  }
  
  #x-axis path {
    stroke: black;
    stroke-width: 1;
    fill: none;
  }
  