* {
    margin: 0;
    padding: 0;
    
  }
  
  body {
    background-color: #F5F5DC;
  }
  
  h1 {
    position: fixed;
    top: 0;
    display: flex;
    background-color: #F5FFFA;
    width: 100%;
    top: 0;
    align-items: center;
  }
  
  #header-img {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .nav-link {
    padding: 0px 10px 0px 10px;
    color: black;
    text-decoration: none;
  }
  
  #info {
    
    margin: 100px auto 0px auto;
    text-align: center;
    border-style: double;
    border-width: 3px;
    border-color: black;
    width: 50%;
  }
  
  #points {
    padding: 10px 0px 10px 0px;
    
   font-size: 20px;
  }
  
  li {
    list-style: none;
  }
  
  #youtube {
    margin: 20px auto 20px auto;
    text-align: center;
  }
  
  #video {
   width: 600px;
   height: 400px;
  
  }
  
  #price {
    margin: 100px auto 0px auto;
    text-align: center;
    border-style: double;
    border-width: 3px;
    border-color: black;
    width: 20%;
  }
  
  #cost {
    padding: 10px 0px 10px 0px;
  }
  
  form {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  @media (max-width: 800px) {
    #pricing {
      flex-direction: column;
    }
  }